.card-name {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

 .card-description {
    font-size: 13px;
    line-height: 18px;
    margin-top:10px;
    margin-bottom:15px;}

.card-category {
    font-size: 13px;
    line-height: 18px;
    color: #A5A3B9;
    text-transform: uppercase;}

  .card-description p:first-child {
    margin-top: 0;}