.product-item {
    max-width: 300px;
    list-style: none;
    margin: 25px;
    padding: 45px;
    background-color: #f7f7fa;
}


 .product-header {
   width: 290px;
height: 245px;
margin-top:30px;
margin-bottom: 15px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}