body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f7fa;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}







    